# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.env
failed_files.log
video_links_generator.log
video_links_results.json

# log files
*.log

# back up files
*.bak

# don't track these files
*.DS_Store
token_cache.bin
